<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanayut Samsang's Portfolio</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <a class="logo" href="/profile">MyPortfoilo</a>
        <nav>
            <ul class="nav_links">
                <li><a href="/profile">Home</a></li>
                <li><a href="/profile/aboutme">About Me</a></li>
                <li><a href="/profile/education">Education</a></li>
                <li><a href="/profile/workexperience">Experience</a></li>
                <li><a href="/profile/skill">Skill</a></li>
            </ul>
        </nav>
        <a class="contact" href="/profile/contact">Contact</a>
    </header>
    <div class="bg">
        <div class="text">
            <main>{{{body}}}</main>
        </div>
    </div>
    <footer>
        <div class="ft">
            coppyright 2020
        </div>
    </footer>

</body>
</html>