<link rel="stylesheet" href="/index.css">
<body>
    <h1 class="exp">Experience</h1>
    <div class="flexbox">
        {{#with myData.experience}}
            <div class="box">
                <li class="ctnexp">
                    <span class="first-block">Experience &nbsp: &nbsp&nbsp</span><span class="second-block"> {{experience1}}</span>
                </li>
            </div>
        {{/with}}
    </div>
</body>