<link rel="stylesheet" href="index.css">
<body>
    <div class="bg">
        <div class="text">
            <div class="hello">
                <h1 class="idx1">Hi, I'm {{myData.nickname}}</h1>
            </div>
            <div class="motto">
                <h2 class="idx2">My motto : {{myData.motto}}</h2>
            </div>
        </div>
        <div class="content">
            <img class="image" src="img/me.jpg">
        </div>
    </div>
</body>
